body {
  background-image: url(/images/form-background3.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: cursive;
}

header {
  color: #002855;
  text-align: center;
  background-color: #ffffff;
  max-width: 300px;
  margin: 30px auto;
  border-radius: 20px;
}

.link {
  text-decoration: none;
  color: #002855;
}

.card {
  background-color: white;
  max-width: 300px;
  margin: 8rem auto;
  border-radius: 10px;
  padding: 10px 20px;
}

.card-body {
  background-image: url(/images/coffee\ background.avif);
}

.shop-name {
  border-bottom: 3px solid #002855;
  text-align: center;
  padding: 0.5rem;
  color: #002855;
  font-size: 25px;
}

.list-item:nth-child(1) {
  padding-top: 5px;
  color: rgb(139, 51, 51);
}

.list-item:last-child {
  color: rgb(139, 51, 51);
}

.list-item {
  padding: 1.5rem;
  color: #002855;
  font-weight: 700;
}

/* .details-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.details-form {
  max-width: 300px;
  margin: 7rem auto;
  background-image: url(/images/form-background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
}

.details {
  color: #002855;
  font-size: 17px;
  /* background-color: red; */
}

.details.name {
  color: #eaaa00;
}

.details.phone {
  color: #eaaa00;
}

.input-box {
  background-color: #c6d3de;
  border: 1px solid #c6d3de;
  padding: 0.5rem;
  width: 100%;
}
::placeholder {
  color: #ffffff;
  font-size: 14px;
}
.input-box:focus {
  outline: none;
}

.button {
  padding: 2rem 1rem 0 1rem;
}

.submit-button {
  border: 0;
  padding: 1rem;
  border-radius: 70px;
  text-decoration: none;
  color: #eaaa00;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  cursor: pointer;
}
.submit-button:hover {
  background-color: #c6d3de;
  font-size: 20px;
}

.footer {
  color: #002855;
  font-weight: 900;
  font-style: italic;
}

.footer-link {
  text-decoration: none;
  color: #002855;
}
