/* UNIVERSAL SELECTOR */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  color: #002855;
  text-align: center;
  background-color: #ffffff;
  max-width: 300px;
  margin: 30px auto;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 900;
}

/* ATTRIBUTE SELECTOR */
a[target="_blank"] {
  color: black;
}

/* ID SELECTOR */
#content {
  border: 5px dashed #000000;
  max-width: 250px;
  margin: 100px auto;
}

#hurray {
  text-align: center;
  font-size: 30px;
  color: #8a2be2;
  margin-top: 50px;
  font-family: sans-serif;
}

/* PSEUDO ELEMENT SELECTOR */
#hurray::first-letter {
  font-size: 50px;
}

/* PSEUDO CLASS SELECTOR */
.exclamation:hover {
  color: #f80794;
  cursor: pointer;
}

/* ELEMENT SELECTOR */
h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin-bottom: 50px;
}

li::marker {
  color: green;
}

/* CLASS SELECTOR */
.css-framework {
  color: black;
  font-family: sans-serif;
}

.css-framework::after {
  content: "✔️";
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  color: #002855;
  font-weight: 900;
  font-style: italic;
}

/* COMBINATOR SELECTOR */
footer a {
  font-size: 40px;
  padding: 0.2rem 1rem;
  text-decoration: none;
  color: rgb(98, 61, 146);
  background-color: #ffffff;
}
